<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>go_next</string>
			<key>MethodName</key>
			<string>go_nextAction:</string>
		</dict>
	</array>
	<key>NextViewController</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>go_back</string>
			<key>MethodName</key>
			<string>backAction</string>
		</dict>
	</array>
</dict>
</plist>
